Repository datalens-tech/datalens-ui, pull requests merged in 2024-09, with the labels that each got.

#1441 Update @gravity-ui/dashkit 8.10.2 -> 8.12.0
  package-lock.json
  package.json
  src/ui/units/dash/store/actions/dashTyped.ts
Labels: changelog, component/general, type/chore

#1240 Add dash fixed header
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/shared/constants/qa/dash.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/constants.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/types.ts
  src/ui/components/DashKit/utils.ts
  src/ui/styles/base.scss
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/modules/helpers.ts
  tests/opensource-suites/dash/selectors/autoupdateRelatedSelectors.test.ts
  tests/opensource-suites/dash/selectors/externalInfluencesOnGroup.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Labels: enhancement, changelog, component/dashboards

#1440 Fixed the display of old dates with an offset
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  tests/opensource-suites/wizard/visualizations/flat-table/formatting.test.ts
Labels: changelog, type/bug-fix, component/charts

#1446 Add support protocol specify for load highcharts lib
  src/server/components/layout/utils.ts
  src/shared/types/chartkit/common.ts
Labels: type/new-feature, component/charts

#1468 Fix: pagination control is not displayed in tables with hierarchies
  src/server/modes/charts/plugins/datalens/config/config.ts
Labels: changelog, type/bug-fix, component/charts

#1493 Replace convertConnectionType with another function in registry(QL)
  src/server/index.ts
  src/server/modes/charts/plugins/ql/module/js/build-graph.ts
  src/server/modes/charts/plugins/ql/module/js/index.ts
  src/server/modes/charts/plugins/ql/module/url/build-sources.ts
  src/server/modes/charts/plugins/ql/module/url/index.ts
  src/server/modes/charts/plugins/ql/module/url/types.ts
  src/server/modes/charts/plugins/ql/ql-chart-runner.ts
  src/server/modes/charts/plugins/ql/types.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/connection.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/worker.ts
  src/server/registry/index.ts
Labels: changelog, type/breaking-change, component/charts

#1502 Add useMemoCallback hook for partial deps update
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useMemoCallback.ts
Labels: changelog, type/bug-fix, component/dashboards

#1534 FIx dashboard fixed header offset for embedded=1 mode
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Labels: changelog, type/bug-fix, component/dashboards

#1563 Update @gravity-ui/dashkit 8.15.1 -> 8.15.3
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1588 Enable pinned columns feature for tables
  src/server/components/features/features-list/PinnedColumns.ts
  src/server/components/features/features-list/PinnedColumnsForPivotTables.ts
  tests/opensource-suites/wizard/visualizations/flat-table/pinned-columns.test.ts
Labels: changelog, type/new-feature, component/charts

#1589 Enable EnableDashFixedHeader for production
  src/server/components/features/features-list/EnableDashFixedHeader.ts
Labels: changelog, type/chore, component/dashboards

#1546 Compact tooltip in maps
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/types.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/shared/constants/visualization.ts
  src/shared/types/config/wizard/index.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/shared/types/wizard/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/modules/yandex-map/yandex-map.js
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/utils.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/wizard/actions/tooltip.ts
  src/ui/units/wizard/actions/visualization.ts
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
  src/ui/units/wizard/components/Dialogs/DialogTooltipSettings/DialogTooltipSettings.scss
  src/ui/units/wizard/components/Dialogs/DialogTooltipSettings/DialogTooltipSettings.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/TooltipsPlaceholder/TooltipsPlaceholder.tsx
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/selectors/visualization.ts
  src/ui/units/wizard/utils/helpers.ts
Labels: changelog, type/new-feature, component/charts

#1592 Up @gravity-ui/dashkit@8.17.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1599 Fixed the display of markup in maps with the clustering points
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/YandexMapComponent.js
Labels: changelog, type/bug-fix, component/charts

#1597 Fix chart dnd
  src/ui/units/wizard/components/DND/DNDContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/SectionVisualization.scss
Labels: changelog, type/bug-fix, component/charts

#1615 Fix logout route with Zitadel integration
  src/server/components/zitadel/utils.ts
Labels: bug, changelog, component/auth

#1616 Remove pseudo field from table when change visualization
  src/ui/units/wizard/reducers/utils/checkTableColor.ts
  src/ui/units/wizard/reducers/visualization.ts
Labels: type/bug-fix, component/charts

#1620 Fix dataset filter dialog layout
  src/ui/components/DatasetFieldList/DatasetFieldList.scss
  src/ui/components/DialogFilter/DialogFilter.scss
  src/ui/components/FieldEditor/FieldEditor.scss
Labels: changelog, type/bug-fix, component/datasets

#1595 Support copying connections together with copying widget on the dash
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/controls/types.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/utils/copyItems.ts
Labels: changelog, type/new-feature, component/dashboards

#1622 Up @gravity-ui/dashkit@8.17.2
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore
