Repository datalens-tech/datalens-ui, pull requests merged in 2024-10, with the labels that each got.

#1624 Fix theme override by query
  src/ui/entries/dl-main.tsx
  src/ui/utils/getOverridedTheme.ts
Labels: changelog, type/bug-fix, component/navigation

#1625 Fixed navigation dialog width
  src/ui/components/Navigation/Core/NavigationModal.scss
Labels: changelog, type/bug-fix, component/navigation

#1633 Fix gradient coloring for null values (flat table)
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-for-null-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/flat-table/coloring.test.ts
Labels: changelog, type/bug-fix, component/charts

#1631 Converted Markdown to .tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.tsx
  src/ui/libs/DatalensChartkit/types/widget.ts
Labels: changelog, type/dev, component/charts

#1634 Fixed sorting of dates with null values
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/wizard/visualizations/flat-table/sorting.test.ts
Labels: changelog, type/bug-fix, component/charts

#1641 Fix axis mode for combined charts
  src/shared/modules/wizard/axis-mode.ts
Labels: changelog, type/bug-fix, component/charts

#1629 Fix column width of the table with virtualization
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableBody.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableHead.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useCellSizes.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
  tests/opensource-suites/wizard/visualizations/flat-table/virtualization.test.ts
Labels: changelog, type/bug-fix, component/charts

#1649 Fix: a table in QL crashes with an error when there is no data
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/migrate-to-old-format.ts
Labels: changelog, type/bug-fix, component/charts

#1646 Support BI connector icons
  api/server/middlewares.ts
  src/server/components/features/features-list/EnableBIConnectorIcons.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/middlewares/connector-icons.ts
  src/server/middlewares/index.ts
  src/server/modes/opensource/routes.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/types/common.ts
  src/shared/types/feature.ts
  src/ui/components/ConnectorIcon/ConnectorIcon.scss
  src/ui/components/ConnectorIcon/ConnectorIcon.tsx
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/constants/common.ts
  src/ui/units/connections/components/ConnectorsList/ListItem.tsx
  src/ui/units/connections/components/FormTitle/FormTitle.tsx
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.js
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.scss
  src/ui/utils/connections/icons.ts
Labels: changelog, component/general, component/charts, component/connectors, component/navigation, component/datasets, component/optimization

#1654 Update dependencies
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1658 Up @gravity-ui/dashkit@8.17.3
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1660 Fix: column width is incorrectly calculated for cells with a possible…
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
Labels: changelog, type/bug-fix, component/charts

#1662 Up uikit
  package-lock.json
  package.json
  src/ui/components/Navigation/components/BatchPanel/BatchPanel.tsx
  src/ui/units/collections/components/CollectionBatchPanel/CollectionBatchPanel.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/BatchActionPanel.tsx
Labels: changelog, component/general, type/chore

#1665 Update chartkit@5.14.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1668 Update @gravity-ui/date-components to v2.10.2
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
Labels: changelog, component/general, type/chore

#1669 Npm modules deduplication
  package-lock.json
Labels: changelog, component/general, type/chore

#1651 Removed page reloading when renaming entities
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.tsx
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/types.ts
  src/ui/components/EntryContextMenu/utils.ts
  src/ui/registry/units/common/functions-map.ts
  src/ui/registry/units/common/register.tsx
  src/ui/registry/units/common/types/functions/setEntryKey.ts
  src/ui/store/actions/entryContent.ts
  src/ui/store/reducers/entryContent.ts
  src/ui/store/selectors/entryContent.ts
  src/ui/store/typings/entryContent.ts
  src/ui/units/connections/components/Page/components/UnloadConfirmation.tsx
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
  src/ui/units/editor/components/ButtonSave/ButtonSave.js
  src/ui/units/editor/store/actions/editor/chart.ts
  src/ui/units/editor/store/reducers/editor/editorTypedReducer.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/typings/ql.ts
  src/ui/units/wizard/actions/widget.ts
  src/ui/units/wizard/components/Dialogs/DialogLink.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/reducers/widget.ts
Labels: changelog, component/general, type/dev

#1661 Fix loss of connections on other tabs if disconnect all is made
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Labels: changelog, type/bug-fix, component/dashboards

#1667 Add comprasion operations for text field in selectors
  src/ui/components/DialogFilter/constants.ts
  src/ui/units/dash/store/constants/operations.ts
Labels: changelog, type/new-feature, component/dashboards

#1643 Support `dash-body-loaded` class for loaded dashboard
  src/shared/constants/dash.ts
  src/shared/constants/qa/dash.ts
  src/ui/units/dash/containers/Body/Body.tsx
Labels: changelog, type/new-feature, component/dashboards

#1676 Move entities without reload
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/utils.ts
  src/ui/registry/units/common/types/functions/setEntryKey.ts
Labels: changelog, type/bug-fix, component/general

#1647 Update app-builder
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1678 Update @gravity-ui/uikit to v6.31.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1645 Setting to hide the axis
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/utils/axis-helpers.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/placeholder.ts
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/constants/radio-buttons.tsx
Labels: changelog, type/new-feature, component/charts

#1682 Update @gravity-ui/gateway
  package-lock.json
  package.json
Labels: component/general, type/chore

#1684 Update @gravity-ui/navigation 2.23.1 -> 2.27.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1685 Update @gravity-ui/dashkit 8.17.3 -> 8.17.4
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1686 Update expresskit to 2.0.0 and nodekit to 1.6.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1687 Clean useless dependencies
  package-lock.json
  package.json
Labels: dependencies, component/general, type/chore

#1692 Add setEntryKey to navigation
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/BreadcrumbMenu.tsx
  src/ui/registry/units/common/register.tsx
  src/ui/utils/setEntryKey.ts
Labels: changelog, type/bug-fix, component/navigation

#1697 Fix duplicate content when highlighting the entire page
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
Labels: changelog, type/bug-fix, component/charts

#1699 Update dependencies
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1707 Enable export for d3 charts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/line/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/d3.ts
  src/server/modes/charts/plugins/datalens/utils/export-helpers.ts
  src/shared/types/chartkit/d3/scatter.ts
  src/shared/types/widget.ts
  src/shared/types/wizard/export.ts
  src/shared/types/wizard/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-chart-to-table.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/utils.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
  tests/opensource-suites/wizard/visualizations/pie/export.test.ts
Labels: changelog, type/new-feature, component/charts

#1716 Up @gravity-ui/chartkit 5.15.0 -> 5.17.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1715 Optimize table rendering
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
Labels: changelog, type/fix, component/charts

#1718 Add expresskit language detection
  api/server/utils.ts
  package-lock.json
  package.json
  src/server/configs/opensource/common.ts
  src/server/index.ts
  src/server/middlewares/before-auth-defaults.ts
  src/server/utils/language.ts
Labels: changelog, component/general, type/chore

#1723 Support external libs in ui-sandbox
  package-lock.json
  package.json
  src/server/components/charts-engine/components/processor/chart-api-context.ts
  src/server/components/charts-engine/components/processor/isolated-sandbox/interop/charteditor-api-prepare.ts
  src/server/components/charts-engine/components/processor/utils.ts
  src/shared/types/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox-runtime.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Labels: changelog, component/general, type/feat, type/chore, component/charts

#1722 Fix creating aliases for ql-indicators
  src/shared/constants/common.ts
Labels: changelog, type/fix, component/dashboards

#1732 Update @gravity-ui/components 3.11.0 -> 3.12.1, fix styles
  package-lock.json
  package.json
  src/ui/components/Tabs/Tabs.scss
Labels: changelog, component/general, type/chore

#1731 Add UseMovePermAction feature, change types
  src/server/components/features/features-list/UseMovePermAction.ts
  src/shared/schema/us/actions/dls.ts
  src/shared/schema/us/types/dls.ts
  src/shared/types/feature.ts
  src/ui/components/Navigation/dialogs/BatchMove/AccessError/AccessError.tsx
  src/ui/components/Navigation/dialogs/BatchMove/BatchMove.tsx
  src/ui/components/Progress/DialogCounterProgress.tsx
Labels: changelog, type/chore, component/navigation

#1736 Remove client oauth code
  package-lock.json
  package.json
  src/@types/nodekit.d.ts
  src/server/utils/googleapis.ts
  src/shared/schema/bi-converter/types/index.ts
  src/shared/schema/googleapis/actions.ts
  src/shared/schema/googleapis/actions/index.ts
  src/shared/schema/googleapis/index.ts
  src/shared/schema/googleapis/types/index.ts
  src/shared/schema/simple-schema.ts
  src/shared/schema/types.ts
  src/shared/types/googleapis.ts
  src/shared/types/index.ts
  src/ui/units/connections/components/custom-forms/GSheetsV2/containers/useGSheetDialogs.ts
  src/ui/units/connections/components/custom-forms/GSheetsV2/containers/utils.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/gsheet/index.ts
  src/ui/units/connections/store/selectors/form.ts
  src/ui/units/connections/store/typings/gsheet.ts
  tsconfig.json
Labels: changelog, component/general, type/chore

#1711 Update @gravity-ui/app-builder
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/modules/graph/config/utils/addShowInNavigatorToSeries.ts
Labels: dependencies, changelog, component/general, type/chore

#1735 Fix linear indicator with custom scale
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/constants.ts
  tests/opensource-suites/wizard/visualizations/flat-table/linear-indicator.test.ts
Labels: changelog, type/fix, component/charts

#1739 Delete unused DLS actions, types
  api/ui/constants/common.ts
  src/shared/schema/us/actions/dls.ts
  src/shared/schema/us/actions/entries.ts
  src/shared/schema/us/actions/index.ts
  src/shared/schema/us/types/dls.ts
  src/shared/schema/us/types/entries.ts
  src/shared/schema/us/types/index.ts
  src/shared/types/dls.ts
  src/shared/types/index.ts
  src/shared/types/permissions.ts
  src/ui/components/EntryDialogues/DialogSwitchPublic/DialogPublic/helpers.ts
  src/ui/constants/common.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/utils.ts
  src/ui/utils/index.ts
  src/ui/utils/permissions.ts
Labels: changelog, type/chore

#1677 Add screenshot tests for dash
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/dash.ts
  src/ui/components/Tabs/withDatalensSpecific.tsx
  src/ui/units/dash/containers/App/App.tsx
  tests/constants/config/dash.ts
  tests/constants/test-entities/dash.ts
  tests/data/us-e2e-data
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
  tests/opensource-suites/dash/screenshots/baseWidgets.test.ts
  tests/opensource-suites/dash/screenshots/markdownCases.test.ts
  tests/opensource-suites/dash/screenshots/mobile.test.ts
  tests/opensource-suites/utils.ts
  tests/page-objects/dashboard/DashTabs.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/dash.ts
Labels: changelog, type/test, component/dashboards

#1745 Support wrappedHtml in old Table title
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/WrappedHTMLNode.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
Labels: changelog, type/feat, component/charts

#1734 Fix coloring by field fake title in the scatter plot
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepare-scatter.ts
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/scatter/coloring.test.ts
  tests/page-objects/wizard/ColorDialog.ts
  tests/page-objects/wizard/VisualizationItemDialog.ts
Labels: changelog, type/fix, component/charts

#1753 Up @gravity-ui/components@3.12.3
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1751 Update chartkit to v5.17.1
  package-lock.json
  package.json
  tests/page-objects/wizard/WizardPage.ts
Labels: changelog, component/general, type/chore

#1756 Update @gravity-ui/nodekit 1.6.0 -> 1.7.0, @gravity-ui/gateway 2.6.1 -> 2.6.2
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1764 Fix blocking interface due to dataset selectors on mobile
  src/ui/components/common/YCSelect/Items/Items.js
  src/ui/components/common/YCSelect/YCSelect.js
Labels: changelog, type/fix, component/dashboards

#1767 Fix date field distinct values for filters section
  src/ui/components/DialogFilter/DialogFilter.tsx
  src/ui/components/DialogFilter/constants.ts
  src/ui/units/wizard/utils/wizard.ts
  tests/opensource-suites/wizard/filters/filters-with-dialog-color.test.ts
  tests/page-objects/wizard/ColorDialog.ts
Labels: changelog, type/fix, component/charts

#1763 Display values for string fields in total (flat table)
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/footer/index.ts
  tests/opensource-suites/wizard/visualizations/flat-table/totals.test.ts
Labels: changelog, type/fix, component/charts

#1770 Update @gravity-ui/dashkit 8.17.4 -> 8.18.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1680 Add a setting for the Y-axis of the area chart to connect empty values
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/shared/modules/wizard/axis-settings.ts
  src/shared/modules/wizard/index.ts
  src/shared/types/wizard/misc.ts
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  tests/suites/wizard/placeholder-settings/connectNulls.test.ts
Labels: changelog, type/feat, component/charts

#1768 Fix chart click processing for working with hierarchies(d3)
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/d3-event-handlers.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/hierarchy.test.ts/Wizard-Pie-chart-Go-to-the-next-level-when-clicking-on-a-chart-with-a-hierarchy-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/hierarchy.test.ts/Wizard-Treemap-chart-Go-to-the-next-level-when-clicking-on-a-chart-with-a-hierarchy-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pie/hierarchy.test.ts
  tests/opensource-suites/wizard/visualizations/treemap/hierarchy.test.ts
Labels: changelog, type/fix, component/charts
