Repository datalens-tech/datalens-ui, pull requests merged in 2024-06, with the labels that each got.

#1080 Fix dashboard copy\duplicate action
  src/ui/components/EntryDialogues/DialogCopyEntry/DialogCopyEntry.tsx
  src/ui/components/EntryDialogues/DialogEntrySaveAsNew/DialogEntrySaveAsNew.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
Labels: changelog, type/bug-fix, component/navigation

#1082 Add express trust proxy number param
  src/server/configs/common.ts
Labels: changelog, component/general, type/sec

#1089 Fix yfm image background on light theme
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Labels: changelog, type/bug-fix, component/general

#1088 Add ability to hide breadcrumbs button when items are selected
  src/ui/components/Navigation/Core/NavigationBreadcrumbs/NavigationBreadcrumbs.scss
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/Core/NavigationInline.js
  src/ui/components/Navigation/Core/NavigationModal.js
  src/ui/components/Navigation/Core/TableView/TableView.tsx
  src/ui/components/Navigation/Core/TableView/types.ts
  src/ui/components/Navigation/Core/TableView/useBatchSelect.ts
  src/ui/components/Navigation/types.ts
  src/ui/styles/variables.scss
Labels: changelog, type/bug-fix, component/navigation

#1101 Fix empty charts layout that is outside of widget boundaries
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Labels: changelog, type/bug-fix, component/dashboards

#1102 Fixed saving the hint in the wizard chart
  src/ui/units/wizard/utils/helpers.ts
Labels: changelog, type/bug-fix, component/charts

#1109 Show confirmation dialog in case of changing field visibility
  src/ui/units/datasets/store/reducers/dataset.ts
Labels: changelog, type/bug-fix, component/datasets

#1106 Fix cancellation of request in charts and selectors
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DashKit/plugins/GroupControl/utils.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/hooks/useMountedState.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
Labels: changelog, type/bug-fix, component/charts, component/dashboards

#1118 Fix overlaying chart layout on dash
  src/ui/components/Widgets/Chart/Chart.scss
Labels: changelog, type/bug-fix, component/dashboards

#1116 Fix pagination error for table without columns or measures
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
  tests/opensource-suites/wizard/visualizations/pivot-table/pagination.test.ts
Labels: changelog, type/bug-fix, component/charts

#1115 Fix date filtration for wizard charts
  src/server/modes/charts/plugins/control/url/distincts/build-distincts-body.ts
  src/server/modes/charts/plugins/datalens/url/build-request-body/index.ts
  src/shared/modules/__tests__/charts-shared.test.ts
  src/shared/modules/charts-shared.ts
  src/shared/modules/helpers.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/utils/wizard.ts
Labels: changelog, type/bug-fix, component/charts

#1123 Fix relative date interval for colors setting
  src/shared/modules/bi-api/mappers/v2.ts
Labels: changelog, type/bug-fix, component/charts

#1138 Fix error view for PLATFORM_PERMISSION_REQUIRED
  src/shared/constants/error-codes.ts
  src/ui/units/connections/components/ErrorView/ErrorView.tsx
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/Page/useApiErrors.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
Labels: changelog, type/bug-fix, component/datasets

#1122 Add bar-y d3 visualization
  src/server/modes/charts/plugins/datalens/d3/index.ts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/index.ts
  src/shared/constants/visualization.ts
  src/shared/types/wizard/index.ts
  src/shared/utils/visualization-check.ts
  src/ui/constants/visualizations/bar-y.ts
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/pie.ts
  src/ui/constants/visualizations/treemap.ts
  src/ui/constants/visualizations/utils.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/reducers/__tests__/preview.test.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/visualization.ts
  tests/suites/wizard/chart-settings/navigator.test.ts
Labels: changelog, type/new-feature, component/charts

#1046 Toggle dataset preview by default
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/shared/schema/bi/types/datasets.ts
  src/shared/types/dataset.ts
  src/ui/units/collections-navigation/components/CollectionsNavigationLayout/CollectionsNavigationLayout.scss
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/containers/Dataset/Dataset.scss
  src/ui/units/datasets/store/actions/creators/dataset.js
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/creators/utils.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/selectors/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Labels: changelog, type/new-feature, component/datasets

#1142 Add wrapper to workbook action panel left block
  src/ui/units/workbooks/components/WorkbookPage/hooks/useLayout.tsx
Labels: changelog, type/bug-fix, component/navigation

#1139 Fixed the display of the hint depending on the enabled checkbox
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/utils.ts
Labels: changelog, type/bug-fix, component/dashboards

#1151 Fix indicator title for old charts
  src/shared/modules/config/wizard/v10/mapV10ConfigToV11.ts
Labels: changelog, type/bug-fix, component/charts

#1168 Improve layout on mobile
  src/server/components/features/features-list/NewMobileDesign.ts
Labels: changelog, component/general, type/new-feature

#1099 Add widget background like chart
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Labels: changelog, type/new-feature, component/dashboards

#1172 Enable menu option showing related objects of current object
  src/server/components/features/features-list/RelatedEntitiesList.ts
Labels: changelog, component/general, type/new-feature

#1180 Support `visibility_mode` in connector items
  src/shared/schema/bi/types/connections.ts
  src/ui/units/connections/components/ConnectorForm/FormActions/selectors.ts
  src/ui/units/connections/components/ConnectorsList/utils/index.ts
Labels: changelog, type/new-feature, component/connectors

#1147 Dataset mass operations
  src/i18n-keysets/dataset.dataset-editor.modify/en.json
  src/i18n-keysets/dataset.dataset-editor.modify/ru.json
  src/shared/types/dataset.ts
  src/ui/units/datasets/components/DatasetTable/DatasetTable.scss
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Description.tsx
  src/ui/units/datasets/components/DatasetTable/columns/Hidden.tsx
  src/ui/units/datasets/components/DatasetTable/columns/IndexColumn.tsx
  src/ui/units/datasets/components/DatasetTable/components/BatchActionPanel/BatchActionPanel.tsx
  src/ui/units/datasets/components/DatasetTable/components/ObservedDataTable.tsx
  src/ui/units/datasets/components/DatasetTable/constants.ts
  src/ui/units/datasets/components/DatasetTable/utils.ts
  src/ui/units/datasets/containers/Dataset/Dataset.js
  src/ui/units/datasets/containers/Dataset/Dataset.scss
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.js
  src/ui/units/datasets/containers/DatasetEditor/DatasetEditor.scss
  src/ui/units/datasets/store/actions/creators/datasetTyped.ts
  src/ui/units/datasets/store/actions/types/dataset.ts
  src/ui/units/datasets/store/reducers/dataset.ts
  src/ui/units/datasets/store/types/dataset.ts
Labels: changelog, type/new-feature, component/datasets
