Repository datalens-tech/datalens-ui, pull requests merged in 2024-08, with the labels that each got.

#1323 Fix filling hint of selector with dataset description
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, type/bug-fix, component/dashboards

#1324 Fix margins of buttons and checkboxes in selectors
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
Labels: changelog, type/bug-fix, component/dashboards

#1330 Fix layout of old selector when resaving with the addition of selectors
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, type/bug-fix, component/dashboards

#1335 Fix the display of the user name in userInfo
  src/shared/modules/user.ts
Labels: type/bug-fix, component/general

#1337 Fix scatter with categories on Y axis
  src/server/modes/charts/plugins/datalens/highcharts.ts
  src/shared/constants/chartkit-handlers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
Labels: type/bug-fix, component/charts

#1325 Fix too large size of widget when canceling changes to old selector on dash
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Labels: changelog, type/bug-fix, component/dashboards

#1355 Add biConverter endpoint for file uploader
  src/shared/endpoints/constants/opensource.ts
Labels: type/new-feature, component/connectors

#1361 Fix for resetting source name in sql subrequest in dataset
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.tsx
Labels: changelog, type/bug-fix, component/datasets

#1363 Add bi converter endpoint for file connection
  src/shared/endpoints/constants/opensource.ts
  src/shared/endpoints/schema/opensource.ts
Labels: type/new-feature, component/connectors

#1369 Fix wizard geo-chart with old config
  src/ui/units/wizard/actions/index.ts
Labels: changelog, type/bug-fix, component/charts

#1368 Block clicks around checkboxes in collections
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionCheckboxCell.tsx
Labels: changelog, type/bug-fix, component/navigation

#1370 Show tooltip with absolute modification date for collections table
  src/shared/constants/common.ts
  src/shared/types/common.ts
  src/ui/store/selectors/user.ts
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Labels: changelog, type/new-feature, component/navigation

#1413 Add custom YaMap token and HC endpoint from env
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/opensource/common.ts
Labels: type/new-feature, component/charts

#1407 Support theme option in generateHtml
  src/shared/types/charts.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/__tests__/index.test.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/constants.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/utils.ts
Labels: changelog, type/new-feature, component/charts
