Repository datalens-tech/datalens-ui, pull requests merged in 2024-07, with the labels that each got.

#1196 Fix the display of a tooltip on map charts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/YandexMapComponent.js
Labels: changelog, type/bug-fix, component/charts

#1201 Increase max-height in DialogRelatedEntities
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/EntitiesList/EntitiesList.tsx
Labels: changelog, type/bug-fix, component/general

#1203 Support adding values by enter in Possible values dialog of list control
  src/ui/units/dash/containers/Dialogs/Control/Dialog/Dialog.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/Acceptable/Acceptable.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ListValueControl/ListValueControl.tsx
Labels: changelog, type/new-feature, component/dashboards

#1211 Display shape settings icon for Y2
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/DialogShapes/DialogShapes.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ShapesPlaceholder/ShapesPlaceholder.tsx
  src/ui/units/wizard/utils/helpers.ts
  src/ui/units/wizard/utils/shapes.ts
Labels: changelog, type/bug-fix, component/charts

#1124 Add logic for separate selected items by delete and move permissions
  src/i18n-keysets/component.collections-structure/en.json
  src/i18n-keysets/component.collections-structure/ru.json
  src/i18n-keysets/component.navigation.view/en.json
  src/i18n-keysets/component.navigation.view/ru.json
  src/shared/schema/us/actions/collections.ts
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/assets/icons/collections/workbook-colored.svg
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.scss
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/DeleteCollectionsWorkbooksContent.tsx
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksContent/index.ts
  src/ui/components/CollectionsStructure/DeleteCollectionsWorkbooksDialog.tsx
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
  src/ui/components/CollectionsStructure/index.ts
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/store/constants/collectionsStructure.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/store/selectors/collectionsStructure.ts
  src/ui/units/collections/components/CollectionBatchPanel/CollectionBatchPanel.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useSelection.ts
Labels: type/new-feature, component/navigation

#1238 Upgrade expresskit to 1.3.0 version
  package-lock.json
  package.json
Labels: dependencies, changelog, component/general, type/chore

#1256 Fix layout of DeleteDialog in workbooks
  src/ui/components/CollectionsStructure/DeleteDialog/DeleteDialog.tsx
Labels: changelog, type/bug-fix, component/navigation

#1262 Add the ability to create group controls on dash
  src/server/components/features/features-list/GroupControls.ts
Labels: changelog, type/new-feature, component/dashboards

#1263 Refactoring dash components
  src/i18n-keysets/dash.error.view/en.json
  src/i18n-keysets/dash.error.view/ru.json
  src/i18n-keysets/dash.store.view/en.json
  src/i18n-keysets/dash.store.view/ru.json
  src/server/components/charts-engine/controllers/embedded-entry.ts
  src/server/components/charts-engine/controllers/embeds.ts
  src/server/configs/opensource/common.ts
  src/shared/types/common.ts
  src/shared/types/dash.ts
  src/ui/components/ViewError/ViewError.tsx
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/Error/Error.js
  src/ui/units/dash/containers/Error/Error.tsx
  src/ui/units/dash/containers/Tabs/Tabs.tsx
  src/ui/units/dash/hooks/useIframeFeatures.tsx
  src/ui/units/dash/modules/constants.ts
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/utils/embedded.ts
  src/ui/utils/errors/manual.ts
Labels: changelog, type/chore, component/dashboards

#1294 Support group controls in old links
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Item/Item.js
Labels: changelog, type/bug-fix, component/dashboards
