Repository datalens-tech/datalens-ui, pull requests merged in 2024-12, with the labels that each got.

#1784 Add anchor to titles on dash
  src/shared/constants/common.ts
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.tsx
  src/ui/components/DashKit/plugins/Title/AnchorLink/AnchorLink.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/mixins.scss
  src/ui/components/MobileTocToggle/MobileTocToggle.tsx
  src/ui/styles/base.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/utils/scrollUtils.ts
  src/ui/utils/scrollUtils.ts
  tests/data/us-e2e-data
Labels: changelog, type/feat, component/dashboards

#1882 Up chartkit 5.18.1 -> 5.19.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#1832 Some pie chart improvements
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
Labels: changelog, type/feat, component/charts

#1886 Update gravity deps
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#1890 Up @gravity-ui/sdk
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#1823 Change transparent font settings
  src/i18n-keysets/dash.dialogs-common.edit/en.json
  src/i18n-keysets/dash.dialogs-common.edit/ru.json
  src/i18n-keysets/dash.palette-background/en.json
  src/i18n-keysets/dash.palette-background/ru.json
  src/i18n-keysets/dash.title-dialog.edit/en.json
  src/i18n-keysets/dash.title-dialog.edit/ru.json
  src/shared/types/dash.ts
  src/shared/types/utility-types.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.scss
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.scss
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/DialogTitleWidget/HoverRadioButton/HoverRadioButton.scss
  src/ui/components/DialogTitleWidget/HoverRadioButton/HoverRadioButton.tsx
  src/ui/components/TextEditor/TextEditor.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
Labels: changelog, type/feat, component/dashboards

#1902 Fix the display of null values in the rows of the pivot table
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-head-generator.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pivot-table/formatting.test.ts
Labels: changelog, type/fix, component/charts

#1911 Fix table bg-color changing
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
Labels: changelog, type/fix, component/dashboards

#1744 Update appbuilder 0.13.0 -> 0.13.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#1923 Fix the serialization of the array in the ui-sandbox + up @datalens-tech/ui-sandbox-modules 0.32.0 -> 0.33.0
  package-lock.json
  package.json
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Labels: changelog, component/general, type/deps

#1871 Support display of full title on mobile widgets
  src/ui/components/DashKit/DashKit.scss
  src/ui/components/DashKit/plugins/RendererWrapper/RendererWrapper.scss
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/units/preview/components/Preview/Preview.tsx
  tests/data/us-e2e-data
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Labels: changelog, type/feat, component/dashboards

#1927 Add widget params in alias validations check
  src/ui/components/DialogRelations/hooks/useRelations.tsx
Labels: changelog, type/fix, component/dashboards

#1931 Fix height of mobile widget title
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
Labels: changelog, type/fix, component/dashboards

#1936 Fix CRC32 for all platform
  package-lock.json
Labels: changelog, component/general, type/deps

#1925 Support accent setting for selectors
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/shared/types/dash.ts
  src/ui/components/ControlComponents/Sections/AppearanceSection/AppearanceSection.scss
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/ColorAccentRow/ColorAccentRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/HintRow/HintRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/TitlePlacementRow/TitlePlacementRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/TitleRow/TitleRow.tsx
  src/ui/components/DashKit/plugins/Control/ControlItems/ControlItemSelect.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DialogGroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/components/common/YCSelect/YCSelect.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.scss
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/store/utils/controlDialog.ts
  src/ui/units/editor/constants/templates/control.ts
Labels: changelog, type/feat, component/dashboards

#1949 Add xl title size, up @gravity-ui/dashkit 8.20.2 -> 8.22.1
  package-lock.json
  package.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
Labels: changelog, component/general, type/feat, type/deps

#1951 Add chart widget title hint (on dash)
  src/i18n-keysets/dash.widget-dialog.edit/en.json
  src/i18n-keysets/dash.widget-dialog.edit/ru.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Widget/types.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.scss
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/MarkdownHelpPopover/MarkdownHelpPopover.tsx
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  src/ui/components/Widgets/Chart/components/WidgetFooter.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Labels: changelog, type/test, component/dashboards

#1961 Fix markup columns sorting
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
Labels: changelog, type/fix, component/charts

#1966 Added a tooltip hiding setting for some visualizations
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Labels: changelog, type/fix, component/charts

#1934 No create permissions dialog
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/en.json
  src/i18n-keysets/component.dialog-collection-no-create-permission.view/ru.json
  src/shared/constants/qa/components.ts
  src/ui/components/CollectionsStructure/CollectionNoCreatePermissionDialog/CollectionNoCreatePermissionDialog.tsx
  src/ui/components/CollectionsStructure/CollectionNoCreatePermissionDialog/index.ts
  src/ui/components/CollectionsStructure/index.ts
  src/ui/registry/units/collections/functionts-map.ts
  src/ui/registry/units/collections/register.ts
  src/ui/registry/units/collections/types/customizeEmptyPlaceholder.ts
  src/ui/registry/units/collections/types/customizeNoCreatePermissionDialog.ts
  src/ui/registry/units/collections/types/index.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContent/utils.ts
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useLayout.tsx
Labels: changelog, type/feat, component/navigation

#1972 Up @gravity-ui/chartkit 5.19.0 -> 5.19.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#1937 Add nullMode to GradientColorConfig & Up @gravity-ui/uikit 6.37.0 -> 6.39.0
  package-lock.json
  package.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/color.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/helpers/background-settings/get-background-colors-map-by-continuous-column.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/constants/gradients/index.ts
  src/shared/types/config/wizard/v12.ts
  src/shared/types/wizard/background-settings.ts
  src/shared/types/wizard/index.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/actions/dialogColor.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorGradient/DialogColorGradient.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/BackgroundSettings.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/BackgroundSettings/hooks/useBackgroundNullModeSettings.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/backgroundSettings.ts
  src/ui/units/wizard/constants/dialogColor.ts
  src/ui/units/wizard/reducers/utils/clearUnusedVisualizationItems.ts
Labels: changelog, component/general, type/feat, component/charts, type/deps

#1975 Controls groups title
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/components/DialogExtendedSettings/DialogExtendedSettings.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/store/actions/controlDialog.ts
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
Labels: changelog, type/feat, component/dashboards

#1981 Fix table null sorting
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/wizard/visualizations/flat-table/sorting.test.ts
Labels: changelog, type/fix, component/charts

#1983 Add beforeRequest decorator for ui sdk
  src/ui/libs/schematic-sdk/decorator.ts
  src/ui/libs/schematic-sdk/index.ts
Labels: changelog, component/general, type/feat

#1984 Add before request interceptor
  package-lock.json
  package.json
  src/@types/axios.d.ts
  src/ui/libs/DatalensChartkit/modules/axios/axios.ts
  src/ui/libs/axios/interceptors.ts
Labels: changelog, component/general, type/deps

#1982 Add release version dialog
  src/@types/nodekit.d.ts
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/server/app-env.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/common.ts
  src/shared/types/common.ts
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.scss
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/AsideHeaderAdapter/VersionDialog/VersionDialog.tsx
  src/ui/constants/common.ts
  src/ui/store/actions/openDialogTypes.ts
Labels: changelog, component/general, type/feat
