Repository datalens-tech/datalens-ui, pull requests merged in 2024-11, with the labels that each got.

#1775 Fix the scrolling display in the table when there is enough space
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
Labels: changelog, type/fix, component/charts

#1787 Fix relations for widget tabs with the same chartId
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useRelations.tsx
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, type/fix, component/dashboards

#1786 Fix pinned subtotal cells
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/utils.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
  tests/opensource-suites/wizard/visualizations/pivot-table/pinned-columns.test.ts
Labels: changelog, type/fix, component/charts

#1790 Fix the display of negative Y values in the bar-x chart (d3)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/bar-x/negative-values.test.ts
Labels: changelog, type/fix, component/charts

#1794 Up @playwright/test 1.40.0 -> 1.48.2
  .dockerignore
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  .gitignore
  package-lock.json
  package.json
  scripts/e2e/playwright-docker.sh
  scripts/e2e/us-dump.sh
  tests/.dockerignore
  tests/.editorconfig
  tests/.eslintignore
  tests/.npmrc
  tests/.prettierignore
  tests/.prettierrc.js
  tests/README.md
  tests/docker-compose.e2e.yml
  tests/opensource-suites/dash/base/loading.test.ts
  tests/package-lock.json
  tests/package.json
  tests/page-objects/workbook/Workbook.ts
  tests/playwright.config.ts
  tests/utils/index.ts
Labels: changelog, component/general, type/chore

#1795 Update gateway to v3
  package-lock.json
  package.json
Labels: dependencies

#1798 Do not use duplicates for field updates
  src/ui/units/wizard/actions/index.ts
  src/ui/units/wizard/actions/preview.ts
Labels: changelog, type/fix, component/charts

#1788 The _chart_type should not override the visualization type in wizard
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
Labels: changelog, type/fix, component/charts

#1802 Fix paddings for checkbox and buttons in group controls
  src/ui/components/DashKit/plugins/GroupControl/Control/Control.tsx
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Labels: changelog, type/fix, component/dashboards

#1807 Update @gravity-ui/dashkit 8.18.0 -> 8.19.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1808 Delete tenant folder
  api/ui/constants/common.ts
  src/i18n-keysets/datalens.landing.error/en.json
  src/i18n-keysets/datalens.landing.error/ru.json
  src/server/components/features/features-list/ShowActionPanelTreeSelect.ts
  src/shared/constants/error-codes.ts
  src/shared/types/feature.ts
  src/ui/constants/common.ts
  src/ui/constants/mobile.ts
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/types/components/CloudTreeSelectBase.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/utils/tenant.ts
Labels: changelog, type/chore

#1809 Up @gravity-ui/dashkit 8.19.0 -> 8.19.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1821 Change point max size on scatter-chart
  src/ui/units/wizard/components/Dialogs/DialogPointsSize.tsx
Labels: changelog, type/feat, component/charts

#1817 Fix add chart to dashboard options overflow
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.scss
Labels: changelog, type/fix, component/dashboards

#1818 Add stacking switcher in area charts
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/types/config/wizard/v11.ts
  src/shared/types/wizard/index.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Labels: changelog, type/feat, component/charts

#1824 Replace visualization.id usage from string to enum
  src/server/modes/charts/plugins/datalens/highcharts/highcharts.ts
Labels: type/chore

#1822 Switch control dialog store
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
  src/ui/components/ControlComponents/Sections/AppearanceSection/Rows/TitlePlacementRow/TitlePlacementRow.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/CommonSettingsSection.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ConnectionSettings/ConnectionSettings.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ConnectionSettings/components/ConnectionSelector/ConnectionSelector.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/DatasetSettings/DatasetSettings.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/EntrySelector/EntrySelector.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/components/ControlComponents/Sections/CommonSettingsSection/helpers/input-type-select.tsx
  src/ui/components/ControlComponents/Sections/Date/Acceptable/Acceptable.tsx
  src/ui/components/ControlComponents/Sections/Date/Default/Default.tsx
  src/ui/components/ControlComponents/Sections/ValueSelector/RequiredValueCheckbox/RequiredValueCheckbox.tsx
  src/ui/components/ControlComponents/Sections/ValueSelector/ValueSelector.tsx
  src/ui/components/ControlComponents/TwoColumnDialog/TwoColumnDialog.scss
  src/ui/components/ControlComponents/TwoColumnDialog/TwoColumnDialog.tsx
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogEditItem/DialogEditItem.tsx
  src/ui/components/DialogExternalControl/DialogExternalControl.tsx
  src/ui/components/DialogGroupControl/DialogGroupControl.tsx
  src/ui/components/DialogGroupControl/GroupControlBody/GroupControlBody.tsx
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/index.ts
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/store/actions/controlDialog.ts
  src/ui/store/constants/controlDialog.ts
  src/ui/store/reducers/controlDialog.ts
  src/ui/store/reducers/index.tsx
  src/ui/store/selectors/controlDialog.ts
  src/ui/store/utils/controlDialog.ts
  src/ui/units/dash/containers/Dialogs/Control/constants.tsx
  src/ui/units/dash/containers/Dialogs/Dialogs.js
  src/ui/units/dash/store/actions/controls/actions.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/dash/store/utils.ts
Labels: changelog, type/dev, component/dashboards, refactor

#1825 Add @litejs/dom + update generateHtml method
  package-lock.json
  package.json
  src/@types/light-js-dom.d.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Labels: changelog, component/general, type/chore

#1828 Enable TableSize feature by default
  src/server/components/features/features-list/TableSize.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/shared/types/feature.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Labels: changelog, type/feat, component/charts

#1831 Fix items click after navigation between dash and presentations
  src/ui/utils/getActionPanelItems.tsx
Labels: changelog, type/fix, component/dashboards

#1834 Update @gravity-ui/dashkit@8.20.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1839 Revert "Add @litejs/dom + update generateHtml method (#1825)"
  package-lock.json
  package.json
  src/@types/light-js-dom.d.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/modules/html-generator/index.ts
Labels: changelog, component/general, type/chore

#1843 Add the ability to work with a html string in uiSandbox
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/utils.ts
  src/ui/libs/DatalensChartkit/modules/html-generator/utils.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Labels: changelog, component/general, type/chore

#1850 Up @gravity-ui/icons 2.9.1 -> 2.11.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/chore

#1848 Redesign dash fixed header
  src/ui/components/DashKit/constants.ts
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
Labels: changelog, component/general, type/feat

#1857 Table size settings for QL charts
  src/server/modes/charts/plugins/ql/module/config/build-chart-config.ts
  src/server/modes/charts/plugins/ql/worker.ts
Labels: changelog, type/fix, component/charts

#1858 Incorrect field name in the header of the pivot table
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Labels: changelog, type/fix, component/charts
