Repository datalens-tech/datalens-ui, pull requests merged in 2025-08, with the labels that each got.

#2726 Fix title hints position in dash
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/constants.ts
  src/ui/components/DashKit/plugins/Title/utils.ts
  src/ui/units/dash/containers/TableOfContent/TableOfContent.scss
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
Labels: changelog, type/fix, component/dashboards

#2727 Update hint icon sizes in dash
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/plugins/Title/utils.ts
  src/ui/components/MarkdownHelpPopover/MarkdownHelpPopover.tsx
Labels: changelog, type/fix, component/dashboards

#2729 Update @gravity-ui/chartkit to 7.3.0
  package-lock.json
  package.json
  src/server/modes/charts/plugins/datalens/gravity-charts/utils/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/gravity-charts.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-4.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-6.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/hierarchy.test.ts/Wizard-Pie-chart-Go-to-the-next-level-when-clicking-on-a-chart-with-a-hierarchy-screenshot-1.png
Labels: changelog, component/general, type/deps

#2744 Add auth check for E2E tests
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
  package.json
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/sign-in.ts
  src/ui/units/auth/components/Signin/Signin.tsx
  src/ui/units/auth/components/Signin/components/Login.tsx
  src/ui/units/auth/components/Signin/components/Password.tsx
  tests/Dockerfile
  tests/docker-compose.e2e.dev.yml
  tests/docker-compose.e2e.yml
  tests/playwright.config.ts
  tests/utils/playwright/constants.ts
  tests/utils/playwright/datalens/datalens-test-setup.ts
  tests/utils/playwright/datalens/e2e/constants.ts
  tests/utils/playwright/datalens/setup-e2e.ts
  tests/utils/playwright/datalens/utils.ts
  tests/utils/playwright/types.ts
  tests/utils/playwright/utils.ts
Labels: changelog, component/general, type/deps

#2761 Fix collections structure breadcrumbs
  src/ui/components/Breadcrumbs/CollectionsStructureBreadcrumbs/CollectionsStructureBreadcrumbs.scss
  src/ui/components/Breadcrumbs/CollectionsStructureBreadcrumbs/CollectionsStructureBreadcrumbs.tsx
Labels: changelog, type/fix, component/general

#2765 Fix the scroll in the CollectionsStructure dialog
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
Labels: changelog, type/fix, component/general

#2768 Set QL editor word wrap to viewport
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenSQL/ScreenSQL.tsx
Labels: changelog, type/fix, component/charts

#2771 Update @gravity-ui/components
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2770 Up chartkit to 7.5.0
  package-lock.json
  package.json
  src/ui/units/wizard/actions/index.ts
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
Labels: changelog, component/general, type/deps

#2776 Html in treemap labels
  src/server/modes/charts/plugins/datalens/preparers/treemap/gravity-charts.ts
Labels: changelog, type/fix, component/charts

#2777 Html in pie tooltip
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Labels: changelog, type/fix, component/charts

#2780 Up @gravity-ui/chartkit 7.5.0 -> 7.5.2
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
  tests/opensource-suites/wizard/filters/filters-with-dialog-color.test.ts
Labels: changelog, type/fix, component/general, component/charts, type/deps

#2807 Update @gravity-ui/charts -> 1.6.4 + fix map legend float
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/plugins/YandexMap/renderer/Legend/Layer/Layer.scss
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/ql/visualizations/pie/labels.test.ts/QL-Pie-chart-Column-names-in-Labels-section-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-3.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-4.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-6.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
Labels: changelog, component/general, type/deps

#2797 Fix double escaping in markup dataLabels
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
  src/ui/utils/markup.tsx
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/markup.test.ts/Wizard-Pie-chart-Markup-with-special-characters-in-dataLabels-screenshot-1.png
  tests/opensource-suites/wizard/visualizations/pie/markup.test.ts
Labels: changelog, type/fix, component/charts

#2811 Visual fixes in placeholder settings color block
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.scss
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.tsx
  src/ui/units/wizard/components/Palette/components/PaletteItem/PaletteItem.tsx
Labels: changelog, type/fix, component/charts

#2818 Update @gravity-ui/charts -> 1.6.7
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  tests/suites/wizard/labels/formatLabels.test.ts
Labels: changelog, component/general, type/deps

#2820 Update @gravity-ui/chartkit 7.6.2 -> 7.7.0
  package-lock.json
  package.json
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/markup.test.ts/Wizard-Pie-chart-Markup-with-special-characters-in-dataLabels-screenshot-1.png
Labels: changelog, component/general, type/deps

#2803 Add description for charts
  src/i18n-keysets/component.editor-action-panel/en.json
  src/i18n-keysets/component.editor-action-panel/ru.json
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/charts-engine/components/storage/types.ts
  src/server/components/charts-engine/components/storage/united-storage/provider.ts
  src/server/components/charts-engine/controllers/charts.ts
  src/server/components/workbook-transfer/charts.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/old-schema/charts.ts
  src/shared/schema/us/actions/editor.ts
  src/shared/schema/us/types/editor.ts
  src/shared/schema/us/types/fields.ts
  src/shared/types/common.ts
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.tsx
  src/ui/components/ActionPanel/components/ChartSaveControls/components/SaveButton/SaveButton.tsx
  src/ui/components/DialogEntryDescription/EntryDescriptionButton.tsx
  src/ui/components/EntryDialogues/DialogCreateEditorChart/DialogCreateEditorChart.tsx
  src/ui/components/EntryDialogues/DialogCreateQLChart/DialogCreateQLChart.tsx
  src/ui/components/EntryDialogues/DialogCreateWizardChart/DialogCreateWizardChart.tsx
  src/ui/libs/sdk/index.ts
  src/ui/store/actions/chartWidget.ts
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.tsx
  src/ui/units/ql/containers/QL/QLActionPanel/useQLActionPanel.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/typings/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/wizard/actions/preview.ts
  src/ui/units/wizard/actions/widget.ts
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.scss
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/WizardActionPanel.tsx
  src/ui/units/wizard/containers/Wizard/WizardActionPanel/useWizardActionPanel.ts
  src/ui/units/wizard/reducers/preview.ts
  src/ui/units/wizard/selectors/preview.ts
  src/ui/units/wizard/selectors/widget.ts
Labels: changelog, type/feat, component/charts
