Repository datalens-tech/datalens-ui, pull requests merged in 2025-09, with the labels that each got.

#2792 Add axis labels formatting for highcharts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/addAxisFormatter.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/addAxisFormatting.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormatting.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormattingByField.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormattingManual.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisType.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getFieldFromPlaceholder.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/index.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/isAxisLabelDateFormat.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/segments/getSegmentsYAxis.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
  src/shared/constants/chartkit-handlers.ts
  src/shared/types/config/wizard/v13.ts
  src/shared/types/config/wizard/v14.ts
  src/shared/types/wizard/misc.ts
  src/shared/types/wizard/placeholder.ts
  src/ui/components/NumberFormatSettings/NumberFormatSettings.tsx
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/scatter.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/chartkit-handlers.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/node.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/DialogFieldMainSection/DialogFieldMainSection.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.scss
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/constants/radio-buttons.tsx
  src/ui/units/wizard/components/Dialogs/components/DialogRadioButtons/DialogRadioButtons.tsx
Labels: changelog, type/feat, component/charts

#2851 Stop removing description in data for Dash
  src/server/components/sdk/dash.ts
  src/server/controllers/workbook-transfer.ts
  src/shared/schema/us-private/actions/entries.ts
  src/shared/types/common.ts
Labels: changelog, type/fix, component/dashboards

#2839 Split api and public api
  api/server/app-env.ts
  src/server/app-env.ts
  src/server/components/features/features-list/PublicApi.ts
  src/server/components/features/features-list/PublicApiSwagger.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/controllers/public-api.ts
  src/server/modes/opensource/app.ts
  src/server/registry/index.ts
  src/shared/constants/common.ts
  src/shared/types/feature.ts
Labels: changelog, component/general, type/deps

#2856 Update chartkit to v7.9.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2891 Prevent closing settings modal for dash when edit description
  src/ui/units/dash/containers/Dialogs/Settings/Settings.tsx
Labels: changelog, type/fix, component/dashboards

#2895 Fix display field editor
  src/i18n-keysets/component.dl-field-editor.view/en.json
  src/i18n-keysets/component.dl-field-editor.view/ru.json
  src/ui/components/FieldEditor/FieldEditor.scss
  src/ui/components/FieldEditor/FieldEditor.tsx
  src/ui/components/FieldEditor/components/NameHeader.tsx
  src/ui/components/FieldEditor/components/Settings.tsx
Labels: changelog, type/fix, component/datasets

#2629 Entries schemas
  api/server/app-env.ts
  api/server/components.ts
  api/server/constants.ts
  api/server/controllers.ts
  package-lock.json
  package.json
  src/server/app-env.ts
  src/server/components/api-docs/constants.ts
  src/server/components/api-docs/index.ts
  src/server/components/api-docs/types.ts
  src/server/components/public-api/constants.ts
  src/server/components/public-api/index.ts
  src/server/components/public-api/types.ts
  src/server/components/public-api/utils/index.ts
  src/server/components/public-api/utils/init-public-api-swagger.ts
  src/server/components/public-api/utils/register-action-to-open-api.ts
  src/server/constants/public-api.ts
  src/server/controllers/index.ts
  src/server/controllers/public-api/constants.ts
  src/server/controllers/public-api/index.ts
  src/server/controllers/public-api/utils.ts
  src/server/expresskit.ts
  src/server/modes/charts/plugins/datalens/url/build-request-body/default-request.ts
  src/server/modes/charts/plugins/datalens/url/build-request-body/index.ts
  src/server/modes/charts/plugins/request-with-dataset/middlewareAdapters/charts-with-dataset.ts
  src/server/modes/opensource/app.ts
  src/server/registry/index.ts
  src/server/types/gateway.ts
  src/server/utils/index.ts
  src/server/utils/routes.ts
  src/shared/constants/common.ts
  src/shared/schema/bi/actions/connections.ts
  src/shared/schema/bi/actions/datasets.ts
  src/shared/schema/bi/schemas/connections.ts
  src/shared/schema/bi/schemas/datasets.ts
  src/shared/schema/bi/schemas/index.ts
  src/shared/schema/bi/types/connections.ts
  src/shared/schema/bi/types/datasets.ts
  src/shared/schema/gateway-utils.ts
  src/shared/schema/mix/actions/dash.ts
  src/shared/schema/mix/actions/editor.ts
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/actions/index.ts
  src/shared/schema/mix/actions/navigation.ts
  src/shared/schema/mix/actions/wizard.ts
  src/shared/schema/mix/schemas/dash.ts
  src/shared/schema/mix/schemas/editor.ts
  src/shared/schema/mix/schemas/wizard.ts
  src/shared/types/dataset.ts
  src/shared/zod-schemas/dataset.ts
  src/ui/components/DialogQLParameter/DialogQLParameter.tsx
  src/ui/units/workbooks/components/WorkbookMainTabContent/useChunkedEntries.ts
Labels: changelog, component/general, type/deps

#2908 Update @gravity-ui/chartkit 7.9.1 -> 7.11.1
  package-lock.json
  package.json
  src/ui/units/wizard/components/AddField/AddField.scss
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/negative-values.test.ts/Wizard-Bar-x-chart-Negative-Y-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/grouping.test.ts/Wizard-Bar-y-chart-Grouping-by-Measure-Names-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/sorting.test.ts/Wizard-Bar-y-chart-Sorting-by-X-field-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/line/axis.test.ts/Wizard-Line-chart-Date-and-time-on-the-Y-axis-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Point-color-set-by-the-fake-title-of-the-field-screenshot-1.png
Labels: changelog, component/general, type/deps

#2904 Update text widget with markdown screenshot test
  tests/data/us-e2e-data.sql
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
Labels: changelog, type/test, component/dashboards

#2926 Fix an empty block for requesting a dataset in the inspector
  src/server/modes/charts/plugins/datalens/js/js.ts
Labels: changelog, type/fix, component/charts

#2921 Up @gravity-ui/uikit -> 7.18.0
  package-lock.json
  package.json
  src/ui/units/wizard/components/GeolayersSelect/GeolayersSelect.tsx
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/headerWidgets.test.ts/Dashboards---Header-widgets-screenshots-Headers-with-hints-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/suites/wizard/geolayer/removeGeolayers.test.ts
  tests/suites/wizard/geolayer/renameGeolayers.test.ts
Labels: changelog, component/general, type/deps

#2938 Fix the markup display in the table totals
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/totals.ts
Labels: changelog, type/fix, component/charts
