Repository datalens-tech/datalens-ui, pull requests merged in 2025-05, with the labels that each got.

#2455 Support hide chart menu by param on dash
  src/ui/components/Widgets/Chart/components/Header.tsx
Labels: changelog, type/feat, component/charts, component/dashboards

#2463 Fix scaled fractions while calculating height
  src/ui/components/DashKit/utils.ts
Labels: changelog, type/fix, component/dashboards

#2456 Fix markup tooltip
  src/ui/libs/DatalensChartkit/ChartKit/components/ChartKitTooltip/ChartKitTooltip.tsx
  src/ui/libs/monaco/utils.ts
Labels: changelog, type/fix, component/charts

#2437 Add UsersSuggest component
  src/i18n-keysets/component.users-suggest.view/en.json
  src/i18n-keysets/component.users-suggest.view/ru.json
  src/ui/components/UsersSuggest/UsersSuggest.scss
  src/ui/components/UsersSuggest/UsersSuggest.tsx
  src/ui/components/UsersSuggest/types.ts
  src/ui/registry/units/common/functions-map.ts
Labels: changelog, component/general, type/feat

#2439 Add EntrySuggest component
  src/i18n-keysets/component.entry-suggest.view/en.json
  src/i18n-keysets/component.entry-suggest.view/ru.json
  src/ui/components/EntrySuggest/EntrySuggest.scss
  src/ui/components/EntrySuggest/EntrySuggest.tsx
  src/ui/components/EntrySuggest/types.ts
Labels: changelog, component/general, type/feat

#2452 Add table whiteSpace setting
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/components/features/features-list/PreWrapTableSetting.ts
  src/server/modes/charts/plugins/datalens/config/config.ts
  src/server/modes/charts/plugins/datalens/config/types.ts
  src/shared/constants/qa/wizard.ts
  src/shared/types/config/wizard/v12.ts
  src/shared/types/feature.ts
  src/shared/types/wizard/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/BackgroundTable.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Labels: changelog, type/feat, component/charts

#2476 Fix displaying values with null in bar-y
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/js/js.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/index.ts
Labels: changelog, type/fix, component/charts

#2398 Reduce the margin value for h6 titles in user text on Mac OS
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Labels: changelog, type/fix, component/general

#2484 Fix veil on dark theme
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/styles/mixins.scss
Labels: changelog, type/fix, component/dashboards

#2494 Add gallery store
  package-lock.json
  package.json
  src/ui/datalens/pages/GalleryPage/GalleryPage.tsx
  src/ui/units/gallery/components/pages/AllPage/AllPage.scss
  src/ui/units/gallery/components/pages/AllPage/AllPage.tsx
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.scss
  src/ui/units/gallery/components/pages/LandingPage/LandingPage.tsx
  src/ui/units/gallery/store/api.ts
Labels: changelog, component/general, type/deps

#2555 Up @datalens-tech/ui-sandbox-modules 0.35.0 -> 0.36.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2539 Fix status in entries resolve of export workbook
  src/ui/store/actions/collectionsStructure/export.ts
Labels: changelog, type/fix, component/general

#2562 Add retry button for fatal errors in export workbooks
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/CreateWorkbookDialog.tsx
  src/ui/components/CollectionsStructure/CreateWorkbookDialog/ImportWorkbookView/ImportWorkbookView.tsx
  src/ui/components/CollectionsStructure/ExportWorkbookDialog/ExportWorkbookDialog.tsx
  src/ui/store/actions/collectionsStructure/export.ts
  src/ui/store/selectors/collectionsStructure.ts
  src/ui/store/utils/collectionStructure.ts
Labels: changelog, component/general, type/feat
