Repository datalens-tech/datalens-ui, pull requests merged in 2025-01, with the labels that each got.

#1970 Add KeyValue component to connector form
  src/shared/schema/bi/types/forms.ts
  src/shared/types/connections.ts
  src/ui/units/connections/components/ConnectorForm/FormRow/FormItem.tsx
  src/ui/units/connections/components/ConnectorForm/components/KeyValue/KeyValue.scss
  src/ui/units/connections/components/ConnectorForm/components/KeyValue/KeyValue.tsx
  src/ui/units/connections/components/ConnectorForm/components/KeyValue/hooks.ts
  src/ui/units/connections/components/ConnectorForm/components/KeyValue/types.ts
  src/ui/units/connections/components/ConnectorForm/components/Label/Label.scss
  src/ui/units/connections/components/ConnectorForm/components/index.ts
  src/ui/units/connections/constants/index.ts
  src/ui/units/connections/constants/validation.ts
  src/ui/units/connections/utils/validation.ts
Labels: Work in progress

#1954 Add support for groups in mobile
  package-lock.json
  package.json
  src/ui/components/DashKit/helpers.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/PopupWidgetsOrder.scss
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/PopupWidgetsOrder.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
  src/ui/units/dash/containers/Dialogs/Tabs/TabItem.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/Tabs.tsx
  src/ui/units/dash/modules/helpers.ts
Labels: changelog, component/general, component/dashboards, type/deps

#1994 Fix updateDataset call
  src/ui/units/datasets/store/actions/creators/dataset.js
Labels: bug, changelog, type/fix

#2002 Displaying a marker on single-value line charts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Labels: changelog, type/fix, component/charts

#2001 Second-order sorting for tables by ctrl-key
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/usePreparedTableData.ts
Labels: changelog, type/fix, component/charts

#2006 Fix incorrect color list in wizard when switching the palette
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.tsx
Labels: changelog, type/fix, component/charts

#1977 Up @diplodoc/transform@4.42.3 and related deps
  package-lock.json
  package.json
  src/shared/modules/markdown/markdown.ts
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/components/YfmWrapper/YfmWrapperContent.tsx
Labels: changelog, component/general, type/deps

#2010 Pass event keys to wrapFn in ChartEditor
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Labels: changelog, type/feat, component/charts

#2005 Add title custom font settings
  package-lock.json
  package.json
  src/server/modes/charts/plugins/dash-api.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Title/AnchorLink/AnchorLink.tsx
  src/ui/components/DashKit/plugins/Title/Title.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.scss
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, component/general, type/deps

#2039 Fix list of operations for manual selectors
  src/ui/store/constants/controlDialog.ts
  src/ui/store/selectors/controlDialog.ts
Labels: changelog, type/fix, component/dashboards

#2031 Add @diplodoc/tabs-extension & markdown-it- emoji, ins, mark, sub
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2050 Fix gradient coloring by MeasureValues
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/prepareBarX.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepare-bar-x.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
Labels: changelog, type/fix, component/charts

#2030 Add some markdown features in text widget and hints
  src/@types/global.d.ts
  src/shared/modules/markdown/emoji-defs.ts
  src/shared/modules/markdown/markdown.ts
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
  src/ui/components/YfmWrapper/YfmWrapperContent.tsx
Labels: changelog, component/general, type/feat

#2057 Add ColorPickerInput component
  package-lock.json
  package.json
  src/ui/components/ColorPickerInput/ColorPickerInput.scss
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
Labels: changelog, component/general, type/deps

#2061 Support superscript in markdown
  src/shared/modules/markdown/markdown.ts
Labels: changelog, component/general, type/feat

#2062 Fix dash sorting on mobile
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
Labels: changelog, type/fix, component/dashboards

#2025 Support custom widgets bg-color
  package-lock.json
  package.json
  src/shared/types/dash.ts
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/ColorPickerInput/utils.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/components/DialogImageWidget/DialogImageWidget.tsx
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.scss
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/wizard/components/Dialogs/DialogField/components/BarsSettings/components/PaletteColorControl/PaletteColorControl.scss
Labels: changelog, component/general, type/deps

#2067 Fix: bar does not respond to parameter changes
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Bar/utils.ts
Labels: changelog, type/fix, component/charts

#2070 Update @gravity-ui/dashkit 8.24.3 -> 8.25.0 and add multiple keys option for useBindHotkey hoook
  package-lock.json
  package.json
  src/ui/hooks/useBindHotkey.ts
Labels: changelog, component/general, type/deps

#2075 Update @gravity-ui/dashkit 8.25.0 -> 8.26.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2078 Fix widget copying
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, type/fix, component/dashboards

#2081 Fix batch aggregation change with filtration
  src/ui/units/datasets/components/DatasetTable/DatasetTable.tsx
Labels: changelog, type/fix, component/datasets

#2083 Fix yagr ql-chart axis names changing
  src/server/modes/charts/plugins/ql/yagr.ts
Labels: changelog, type/fix, component/charts
