Repository datalens-tech/datalens-ui, pull requests merged in 2025-03, with the labels that each got.

#2282 fix hierarchies don't work like colors
  src/server/modes/charts/plugins/datalens/utils/hierarchy-helpers.ts
Labels: changelog, type/fix, component/charts

#2288 Switch to rspack
  app-builder.config.ts
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2294 Update @datalens-tech/ui-sandbox-modules
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2295 Update @gravity-ui/chartkit
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2257 Make dash data optional if possible
  api/server/plugins.ts
  src/server/components/features/features-list/DashServerMigrationEnable.ts
  src/server/components/features/features-list/DashServerValidationEnabled.ts
  src/server/components/sdk/dash.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/server/modes/charts/plugins/data-api-json-schema.ts
  src/shared/constants/dash.ts
  src/shared/constants/index.ts
  src/shared/constants/widgets.ts
  src/shared/modules/dash-scheme-converter.ts
  src/shared/types/feature.ts
  src/ui/components/DashKit/plugins/Image/Image.tsx
  src/ui/components/DashKit/plugins/Text/Text.tsx
  src/ui/components/DashKit/plugins/Title/Title.tsx
  src/ui/components/DashKit/utils.ts
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/constants/widgets.ts
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/constants.ts
  src/ui/units/dash/store/actions/base/actions.ts
  src/ui/units/dash/store/actions/helpers.ts
  src/ui/units/dash/store/reducers/dash.js
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/tabs/tabsWidgetOrder.test.ts
Labels: changelog, type/feat, component/dashboards

#2316 Up quickjs-emscripten 0.29.1 -> 0.31.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2314 Add 'Copy ID' menu option for all entries
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/ui/assets/icons/id-square.svg
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.scss
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
  src/ui/components/DropdownAction/DropdownAction.tsx
  src/ui/components/EntitiesList/EntitiesList.scss
  src/ui/components/EntitiesList/EntitiesList.tsx
  src/ui/components/EntitiesList/types.ts
  src/ui/components/EntryContextMenu/EntryContextMenu.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/test/withConfiguredEntryContextMenu.test.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/EntryRow/EntryRow.scss
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/ChunkGroup/ChunkGroup.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTableTabs.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/types.ts
  src/ui/utils/copyText.ts
Labels: changelog, component/general, type/feat

#1863 Dash fixed header redesign
  src/shared/constants/qa/dash.ts
  src/ui/components/DashKit/utils.ts
  src/ui/styles/variables.scss
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/FixedHeader/FixedHeader.scss
  src/ui/units/dash/containers/FixedHeader/FixedHeader.tsx
  src/ui/units/dash/utils/dashkitProps.ts
  tests/data/us-e2e-data
  tests/opensource-suites/dash/base/fixedHeader.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/dashboard/FixedHeader.ts
Labels: changelog, type/feat, component/charts
