Repository datalens-tech/datalens-ui, pull requests merged in 2025-07, with the labels that each got.

#2630 Replaced "Measure Names" with "Column Names" for QL charts wizard
  src/shared/constants/wizard.ts
  src/shared/modules/wizard-helpers.ts
  src/shared/types/wizard/placeholder.ts
  src/ui/units/wizard/actions/index.ts
  src/ui/utils/visualizations/placeholders/common-measures.ts
Labels: changelog, type/fix, component/charts

#2635 Add env to disable signup
  src/@types/nodekit.d.ts
  src/server/components/layout/opensource-layout-config.ts
  src/server/configs/opensource/common.ts
  src/shared/types/common.ts
  src/ui/constants/common.ts
  src/ui/units/auth/components/Signin/Signin.tsx
Labels: changelog, type/fix, component/auth

#2637 Fix markup field in labels
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/ui/units/wizard/components/Dialogs/DialogField/DialogField.tsx
  src/ui/units/wizard/components/Dialogs/DialogField/utils/misc.ts
Labels: changelog, type/fix, component/charts

#2663 System props widget resolve
  src/ui/components/DialogChartWidget/DialogChartWidget.tsx
  src/ui/units/dash/components/NavigationInput/InputLink/InputLink.js
  src/ui/units/dash/components/NavigationInput/InputLink/InputLink.scss
Labels: changelog, type/fix, component/dashboards

#2673 Fix-wizard-table-columns
  src/ui/units/wizard/reducers/visualization.ts
Labels: changelog, type/fix, component/charts

#2639 Add getAuthArgs and getAuthHeaders to registry
  package-lock.json
  package.json
  src/server/components/gateway-auth-helpers/us-auth-helpers.ts
  src/server/controllers/navigate.ts
  src/server/controllers/workbook-transfer.ts
  src/server/registry/index.ts
  src/server/registry/units/common/auth-functions-map.ts
  src/server/registry/units/common/index.ts
  src/server/registry/units/common/register.ts
  src/shared/schema/simple-schema.ts
  src/shared/schema/us-private/actions/entries.ts
  src/shared/schema/us-private/actions/index.ts
  src/shared/schema/us-private/index.ts
  src/shared/schema/us-private/types/entries.ts
  src/shared/schema/us-private/types/index.ts
  src/shared/schema/us/actions/entries.ts
Labels: changelog, component/general, type/deps

#2683 Update app-builder
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2675 Disallow dragging parameters to the Y section
  src/ui/units/wizard/components/DND/DNDContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardFiltersPlaceholder/DashboardFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardParametersPlaceholder/DashboardParametersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/utils/placeholder.ts
Labels: changelog, type/fix, component/charts

#2689 Fix selectors options: except and only
  src/ui/components/common/YCSelect/YCSelect.js
Labels: changelog, type/fix, component/general

#2691 Fix yfm styles
  src/ui/components/YfmWrapper/YfmWrapperContent.scss
Labels: bug, type/fix, component/general

#2693 Fix: values are clipped in selectors
  src/ui/components/common/YCSelect/YCSelect.js
Labels: changelog, type/fix, component/dashboards

#2694 Fix relatedEntities dialog
  src/ui/components/DialogRelatedEntities/DialogRelatedEntities.tsx
Labels: changelog, type/fix, component/general

#2677 Add title widget text color selector
  src/shared/constants/widgets.ts
  src/ui/components/ColorPickerInput/ColorPickerInput.scss
  src/ui/components/ColorPickerInput/ColorPickerInput.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteBackground/PaletteBackground.tsx
  src/ui/units/dash/containers/Dialogs/components/PaletteText/PaletteText.tsx
  src/ui/units/dash/store/reducers/dash.js
Labels: changelog, type/feat, component/dashboards

#2685 Fix scatter tooltip error and scatter points resize
  src/server/modes/charts/plugins/ql/module/config/build-chart-config.ts
  src/shared/types/config/ql/v4.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Labels: changelog, type/fix, component/charts

#2703 Up @gravity-ui/nvaigation@3.5.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2705 Fix initial focus in select control
  src/ui/components/common/YCSelect/YCSelect.js
Labels: changelog, type/fix, component/dashboards

#2708 Fix user settings breadcrumbs
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.scss
  src/ui/units/service-settings/containers/CreateProfilePage/CreateProfilePage.tsx
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.scss
  src/ui/units/service-settings/containers/UserProfilePage/UserProfilePage.tsx
Labels: changelog, type/fix, component/auth

#2706 Add debounce to ql updateAutocomplete
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenSQL/ScreenSQL.tsx
Labels: changelog, type/fix, component/charts

#2711 Change default navigation path in wizard dataset section
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Labels: changelog, type/fix, component/charts

#2712 Fix Ql connections navigation popup placement
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
Labels: changelog, type/fix, component/charts

#2725 Fix name of selected connection when creating QL chart
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
Labels: changelog, type/fix, component/charts

#2721 Fix null in metric visualization
  src/server/modes/charts/plugins/datalens/preparers/metric/index.ts
Labels: changelog, type/fix, component/charts

#2723 Fix pie chart tooltip (gravity charts)
  src/ui/libs/DatalensChartkit/ChartKit/ChartKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/helpers/gravity-charts/chartkit-adapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Labels: changelog, type/fix, component/charts
