Repository datalens-tech/datalens-ui, pull requests merged in 2025-04, with the labels that each got.

#2327 Fix polyline with null values
  src/server/modes/charts/plugins/datalens/preparers/polyline.ts
Labels: changelog, type/fix, component/charts

#2352 Change mutation to resize observer
  src/ui/components/DashKit/plugins/Text/Text.tsx
Labels: changelog, type/fix, component/dashboards

#2355 Fix change field format
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Labels: changelog, type/fix, component/charts

#2362 Add a bar chart to the list of visualizations in the ql chart
  src/server/modes/charts/plugins/ql/utils/visualization-utils.ts
  src/shared/constants/qa/visualization.ts
  src/ui/units/ql/utils/visualization/getAvailableQlVisualizations.ts
  tests/constants/test-entities/ql.ts
Labels: changelog, type/feat, component/charts

#2368 Update nodekit
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2374 Update @gravity-ui/app-builder
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2143 Up Ubuntu to 24.04 and Node.js to 22 with security fixes
  .github/workflows/build_application_docker.yaml
  .github/workflows/codeql.yml
  .github/workflows/e2e_build_application_docker.yaml
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_tests_report.yml
  .github/workflows/i18n-check.yml
  .github/workflows/labeler.yml
  .github/workflows/lint_typecheck_unit.yaml
  .github/workflows/publish_platform.yaml
  .github/workflows/publish_platform_hotfix.yaml
  .github/workflows/snyk_container.yaml
  .github/workflows/statoscope_tests.yml
  .github/workflows/statoscope_tests_report.yml
  .github/workflows/statoscope_upload_main_stats.yml
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
  scripts/e2e/playwright-docker.sh
  tests/Dockerfile
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/ql/visualizations/column/column.test.ts/QL-Column-chart-Check-that-fields-order-does-not-affect-axis-settings-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/coloring.test.ts/Wizard-Flat-table-Gradient-coloring-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-column-background-color-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/linear-indicator.test.ts/Wizard-Flat-table-Linear-indicator-with-manual-aee01-ax-value-is-less-than-the-actual-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-Dynamic-column-width-during-row-virtualization-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/flat-table/virtualization.test.ts/Wizard-Flat-table-The-correct-placement-of-the-totals-row-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Coloring-zero-values-with-a-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Custom-palette-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/coloring.test.ts/Wizard-Pivot-table-Two-colors-bar-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/column-settings.test.ts/Wizard-Pivot-table-Columns-width-for-complex-three-level-header-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/formatting.test.ts/Wizard-Pivot-table-Null-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-head-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Complex-three-level-header-in-the-table-rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-markup-values-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/header.test.ts/Wizard-Pivot-table-Grouping-rows-with-the-same-value-in-the-previous-column-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/old-pivot-table.test.ts/Wizard-Pivot-table-Table-with-Rows-only-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/pinned-columns.test.ts/Wizard-Pivot-table-Pinned-columns-with-subtotals-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Columns-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/totals.test.ts/Wizard-Pivot-table-Subtotals-for-Rows-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Correct-order-of-rows-when-scrolling-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-Scroll-for-tables-with-row-grouping-and-fixed-column-width-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pivot-table/virtualization.test.ts/Wizard-Pivot-table-The-correct-placement-of-the-totals-row-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/html-in-chart.test.ts/Wizard-Treemap-chart-Markdown-dimension-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/treemap/tooltip.test.ts/Wizard-Treemap-chart-Tooltip-when-hovering-chart-area-screenshot-1.png
Labels: changelog, component/general, type/sec, type/deps

#2381 Fix long widget header and scroll in SplitPane
  package-lock.json
  package.json
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Labels: changelog, type/fix, component/general, component/charts, component/dashboards, type/deps

#2371 Fix styles for long text in user menu
  src/ui/components/UserMenu/UserMenu.scss
Labels: changelog, type/fix, component/navigation

#2384 Stop use UseMovePermAction feature
  src/ui/components/Navigation/dialogs/BatchMove/BatchMove.tsx
Labels: changelog, type/chore

#2386 Remove UseMovePermAction feature
  src/server/components/features/features-list/UseMovePermAction.ts
  src/shared/types/feature.ts
Labels: changelog, type/chore

#2349 Change namings in palettes settings section
  src/i18n-keysets/component.color-palette-editor/en.json
  src/i18n-keysets/component.color-palette-editor/ru.json
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/components/ColorPaletteEditorContainer/ColorTextInput/ColorTextInput.tsx
  src/ui/components/ColorPaletteEditorContainer/GradientPaletteEditor/GradientPaletteEditor.scss
  src/ui/components/ColorPaletteEditorContainer/GradientPaletteEditor/GradientPaletteEditor.tsx
  src/ui/components/ColorPaletteEditorContainer/PaletteEditor/PaletteEditor.scss
  src/ui/components/ColorPaletteEditorContainer/PaletteEditor/PaletteEditor.tsx
Labels: changelog, type/fix, component/general

#2411 Fix TOC order
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/PopupWidgetsOrder.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
  src/ui/units/dash/modules/helpers.ts
  src/ui/units/dash/utils/scrollUtils.ts
Labels: changelog, type/fix, component/dashboards

#2406 Fix dataset initial current tab
  src/shared/constants/qa/datasets.ts
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/store/constants.ts
  src/ui/units/datasets/store/reducers/index.ts
  tests/page-objects/dataset/DatasetPage.ts
  tests/suites/dataset/tabsHandling.test.ts
Labels: type/fix, component/datasets

#2410 Up nodekit to 2.3.0 with grpc traces
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2421 Fix table shadow for pinned columns
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableBody.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableFooter.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/TableHead.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/Table/useTableHeight.ts
Labels: changelog, type/fix, component/charts

#2425 Up nodekit to 2.3.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2430 Update @gravity-ui/app-builder
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2431 Update @gravity-ui/app-builder
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2370 Add settings for scale and center in maps
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/mocks/geopoints.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/__tests__/prepareGeopoint.test.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/types.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/server/modes/charts/plugins/datalens/preparers/heatmap.ts
  src/server/modes/charts/plugins/datalens/preparers/polyline.ts
  src/server/modes/charts/plugins/datalens/utils/geo-helpers.ts
  src/shared/constants/wizard.ts
  src/shared/types/config/wizard/v12.ts
  src/shared/types/wizard/index.ts
  src/shared/utils/wizard.ts
  src/ui/units/wizard/components/Dialogs/Settings/CenterSetting/CenterSetting.scss
  src/ui/units/wizard/components/Dialogs/Settings/CenterSetting/CenterSetting.tsx
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
  src/ui/units/wizard/components/Dialogs/Settings/ZoomSetting/ZoomSetting.scss
  src/ui/units/wizard/components/Dialogs/Settings/ZoomSetting/ZoomSetting.tsx
Labels: changelog, type/feat, component/charts

#2441 Add autofocus when editing text widgets
  src/ui/components/DialogTextWidget/DialogTextWidget.tsx
  src/ui/components/DialogTitleWidget/DialogTitleWidget.tsx
  src/ui/components/TextEditor/TextEditor.tsx
Labels: changelog, type/fix, component/dashboards

#2438 Rename Service Settings Palettes page to General settings
  src/i18n-keysets/component.color-palette-editor/en.json
  src/i18n-keysets/component.color-palette-editor/ru.json
  src/i18n-keysets/service-settings.main.view/en.json
  src/i18n-keysets/service-settings.main.view/ru.json
  src/ui/components/ColorPaletteEditorContainer/ColorPaletteEditorContainer.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.scss
  src/ui/components/ColorPaletteEditorContainer/ColorPalettesCard/ColorPalettesCard.tsx
  src/ui/units/service-settings/components/GeneralSettings/GeneralSettings.scss
  src/ui/units/service-settings/components/GeneralSettings/GeneralSettings.tsx
  src/ui/units/service-settings/components/SectionGroup/SectionGroup.scss
  src/ui/units/service-settings/components/SectionGroup/SectionGroup.tsx
  src/ui/units/service-settings/containers/App/App.tsx
  src/ui/units/service-settings/containers/MainPage/MainPage.tsx
Labels: changelog, component/general, type/feat
