Repository datalens-tech/datalens-ui, pull requests merged in 2025-02, with the labels that each got.

#2072 Fix gradient legend for charts with negative numbers
  src/server/modes/charts/plugins/datalens/preparers/helpers/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/utils/__tests__/get-gradient-stops.test.ts
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
  src/server/modes/charts/plugins/datalens/utils/get-gradient-stops.ts
Labels: changelog, type/fix, component/charts

#2104 Add auth api to gateway, authenticated user to DL
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/server/components/auth/types/user.ts
  src/server/components/layout/opensource-layout-config.ts
  src/shared/schema/auth-schema/auth/actions.ts
  src/shared/schema/auth-schema/auth/index.ts
  src/shared/schema/auth-schema/auth/types.ts
  src/shared/schema/auth-schema/index.ts
  src/shared/schema/auth-schema/simple-schema.ts
  src/shared/schema/auth/actions.ts
  src/shared/schema/auth/index.ts
  src/shared/schema/auth/types/common.ts
  src/shared/schema/auth/types/users.ts
  src/shared/schema/index.ts
  src/shared/schema/simple-schema.ts
  src/shared/types/common.ts
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/UserMenu/UserMenu.tsx
Labels: type/feat, component/auth

#2115 Add d3-sankey lib to ui-sandbox
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/ui-sandbox.ts
Labels: changelog, component/general, type/deps

#2114 Fixes for displaying charts on mobile devices
  src/ui/components/DashKit/DashKit.scss
  src/ui/libs/DatalensChartkit/ChartKit/plugins/BlankChart/renderer/BlankChartWidget.tsx
Labels: changelog, type/fix, component/charts

#2099 Unify revisions list
  src/i18n-keysets/component.dialog-revisions-diff.view/en.json
  src/i18n-keysets/component.dialog-revisions-diff.view/ru.json
  src/i18n-keysets/component.editor-diff.view/en.json
  src/i18n-keysets/component.editor-diff.view/ru.json
  src/shared/constants/qa/components.ts
  src/ui/assets/icons/file-diff.svg
  src/ui/components/ActionPanel/ActionPanel.scss
  src/ui/components/ActionPanel/ActionPanel.tsx
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/ExpandablePanel/ExpandablePanel.scss
  src/ui/components/ExpandablePanel/ExpandablePanel.tsx
  src/ui/components/RevisionStatusPoint/RevisionStatusPoint.scss
  src/ui/components/RevisionStatusPoint/RevisionStatusPoint.tsx
  src/ui/components/Revisions/Revisions.tsx
  src/ui/components/Revisions/RevisionsList/RevisionsList.scss
  src/ui/components/Revisions/RevisionsList/RevisionsList.tsx
  src/ui/components/Revisions/helpers.ts
  src/ui/components/RevisionsPanel/RevisionsPanel.tsx
  src/ui/components/RevisionsPanel/components/RevisionsControls.tsx
  src/ui/hooks/useSyncedState.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/editor/components/ActionPanel/ActionPanel.js
  src/ui/units/editor/components/EditorDiff/EditorDiff.tsx
  src/ui/units/editor/components/EntryLabel/EntryLabel.js
  src/ui/units/editor/components/EntryLabel/EntryLabel.scss
  src/ui/units/editor/components/PaneTabs/PaneTabs.scss
  src/ui/units/editor/components/Revisions/ButtonRevisionsDiff/ButtonRevisionsDiff.tsx
  src/ui/units/editor/components/Revisions/DropdownActions/DropdownActions.tsx
  src/ui/units/editor/components/Revisions/Revisions.scss
  src/ui/units/editor/components/Revisions/Revisions.tsx
  src/ui/units/editor/components/RevisionsDiff/ButtonNewWindow/ButtonNewWindow.tsx
  src/ui/units/editor/components/RevisionsDiff/EditorDiffRevisions/EditorDiffRevisions.scss
  src/ui/units/editor/components/RevisionsDiff/EditorDiffRevisions/EditorDiffRevisions.tsx
  src/ui/units/editor/components/RevisionsDiff/RevisionInfo/RevisionInfo.scss
  src/ui/units/editor/components/RevisionsDiff/RevisionInfo/RevisionInfo.tsx
  src/ui/units/editor/components/RevisionsDiff/RevisionsDiff.scss
  src/ui/units/editor/components/RevisionsDiff/RevisionsDiff.tsx
  src/ui/units/editor/containers/ActionPanel/ActionPanel.js
  src/ui/units/editor/containers/Revisions/Revisions.js
  src/ui/units/editor/types/store.ts
  src/ui/units/ql/containers/QL/QLActionPanel/QLActionPanel.tsx
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
  src/ui/utils/revisions.ts
  tests/page-objects/common/Revisions.ts
  tests/suites/sql/action-panel/qlRevisions.test.ts
  tests/suites/wizard/action-panel/wizardRevisions.test.ts
Labels: changelog, type/feat, component/charts

#2122 Users by ids to schema
  src/shared/schema/auth/actions.ts
  src/shared/schema/auth/types/users.ts
Labels: changelog, type/feat, component/auth

#2136 Fix auth reload
  src/server/components/auth/middlewares/auth/ui-auth.ts
  src/shared/components/auth/constants/url.ts
  src/ui/datalens/index.tsx
  src/ui/units/auth/components/Reload/Reload.tsx
  src/ui/units/auth/hooks/useClearReloadedQuery.ts
  src/ui/units/auth/store/actions/signin.ts
  src/ui/units/auth/store/actions/signup.ts
  src/ui/units/auth/store/selectors/common.ts
Labels: changelog, type/fix, component/auth

#2163 Add dompurify@2.5.5
  package-lock.json
  package.json
  src/ui/components/YfmWrapper/YfmWrapper.tsx
Labels: changelog, component/general, type/deps

#2177 Update @types/dompurify
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2175 Fix get users list types response
  src/shared/schema/auth/types/users.ts
Labels: changelog, type/fix, component/auth

#2202 Update gravity-ui/icons pack
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2219 Move @datalens-tech/ui-sandbox-modules to the production deps
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2212 Update @gravity-ui/dashkit 8.26.0 -> 8.26.1
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2198 Add DialogRelations dash button with empty widget
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/shared/constants/qa/dash.ts
  src/ui/components/DialogRelations/DialogRelations.scss
  src/ui/components/DialogRelations/DialogRelations.tsx
  src/ui/components/DialogRelations/hooks/useRelations.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/store/actions/relations/actions.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/base/relations.test.ts
Labels: changelog, type/feat, type/test, component/dashboards
