Repository datalens-tech/datalens-ui, pull requests merged in 2025-10, with the labels that each got.

#2942 Up chartkit 7.11.1 -> 7.11.3
  package-lock.json
  package.json
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-x/coloring.test.ts/Wizard-Bar-x-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/bar-y/coloring.test.ts/Wizard-Bar-y-chart-Coloring-by-measure-field-gradient-screenshot-1.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-2.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/pie/basic.test.ts/Wizard-Pie-chart-Auto-coloring-screenshot-5.png
  tests/opensource-suites/__screenshots__/wizard/visualizations/scatter/coloring.test.ts/Wizard-Scatter-chart-Coloring-by-measure-field-gradient-screenshot-1.png
Labels: changelog, component/general, type/deps

#2941 Configuring label formatting for the X and Y axes
  src/server/modes/charts/plugins/datalens/preparers/bar-x/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-y/gravity-charts.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/addAxisFormatting.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/get-axis-formatting.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormatting.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormattingByField.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getAxisFormattingManual.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/getFieldFromPlaceholder.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis/index.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/segments/getSegmentsYAxis.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/gravity-charts.ts
  src/shared/types/config/wizard/v14.ts
Labels: changelog, type/fix, component/charts

#2956 Up @diplodoc/transform -> 4.60.2
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2959 Fix field fill setting with default palette in the pivot table
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
Labels: changelog, type/fix, component/charts

#2979 Enable DL rebranding styles
  src/server/components/features/features-list/EnableDLRebranding.ts
  src/ui/assets/icons/os-logo.svg
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.scss
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/AsideHeaderAdapter/LogoText/LogoText.tsx
  src/ui/components/MobileHeader/MobileHeader.scss
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/components/MobileHeader/MobileHeaderComponent/UserPanel/UserPanel.scss
  src/ui/components/MobileHeader/MobileHeaderComponent/UserPanel/UserPanel.tsx
  src/ui/components/UserMenu/UserMenu.tsx
  src/ui/datalens/index.tsx
  src/ui/styles/rebranding-theme.scss
  tests/opensource-suites/__screenshots__/dash/screenshots/baseWidgets.test.ts/Dashboards---Base-widgets-screenshots-Widgets-without-autoheight-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/headerWidgets.test.ts/Dashboards---Header-widgets-screenshots-Headers-with-hints-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/markdownCases.test.ts/Dashboards---Markdown-cases-screenshots-Tab-with-different-markdown-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Custom-order-of-widgets-screenshot-1.png
  tests/opensource-suites/__screenshots__/dash/screenshots/mobile.test.ts/Dashboards---Mobile-screenshots-Default-order-of-widgets-screenshot-1.png
Labels: changelog, component/general, type/feat

#2963 Refresh page after import workbook
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/TableComponents/CollectionLinkRow.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/CollectionPage/hooks/useCreateWorkbookDialogHandlers.ts
  src/ui/units/collections/components/CollectionPage/hooks/useOpenCreateWorkbookDialog.ts
  src/ui/units/collections/hooks/useRefreshPageAfterImport.ts
Labels: changelog, component/general, type/deps
