Repository datalens-tech/datalens-ui, pull requests merged in 2025-06, with the labels that each got.

#2583 Remove extra part of path in possible preview chart url
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
  src/ui/units/preview/components/App/App.tsx
  src/ui/units/preview/components/Preview/Preview.tsx
Labels: changelog, type/feat, component/charts

#2584 Fix null value in bar-cell
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/components/BarCell/BarCell.tsx
  src/ui/libs/DatalensChartkit/ChartKit/plugins/Table/renderer/utils/renderer.tsx
Labels: changelog, type/fix, component/charts

#2586 Update @gravity-ui/app-builder from 0.26.0 to 0.28.0
  package-lock.json
  package.json
Labels: changelog, component/general, type/deps

#2590 Save connections for selectors pasted inside the selectors dialog
  src/ui/components/DialogGroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/store/actions/controlDialog.ts
  src/ui/store/typings/controlDialog.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/utils/copyItems.ts
Labels: changelog, type/feat, component/dashboards

#2588 Fix palette button borders
  src/ui/units/dash/containers/Dialogs/components/ColorPalette/ColorPalette.scss
Labels: changelog, type/fix, component/dashboards

#2594 Fix params lost in redirect from /preview/:source/:id
  src/ui/units/preview/components/App/App.tsx
Labels: changelog, type/fix, component/charts

#2613 Add dash undo redo
  src/server/components/features/features-list/EnableDashUndoRedo.ts
Labels: changelog, type/feat, component/dashboards
